


    body {
        
    }
    

#box1{
    display: inline-block;
    position: relative;
    left:105px;
    z-index: -1;

    
    background-color: #7469B6;
    width: 100px;
    height: 100px;
}

#box2{
    display: inline-block;
    position: relative;
top:60px;
left:10px;

    background-color: #AD88C6;
    width: 100px;
    height: 100px;
}

#box3{
    display: inline-block;
   position: sticky;
   top:10px;
    
    background-color: #E1AFD1;
    width: 100px;
    height: 100px;
}

#box4{
    position: fixed;
    
    left:0px;
   top:0px;
    
    display: inline-block;
    background-color: #FFE6E6;
    width: 100%;
    height: 10%;
}